html,

body {
  height: 100%;
}

html {
  display: table;/*deixa no formato de card*/
  margin: auto;
}

body {
  display: table-cell;
  vertical-align: middle; /*desce o card*/
  background:  #ffffff;
}
